header {
  background-image: url("https://images.unsplash.com/photo-1537832816519-689ad163238b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=859&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0000ff;
  height: 50vh;
}
